@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.site-description:not(:empty):before {
  content: "\2014";
  margin: 0 .2em;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  @apply font-serif
} */

em{
  @apply italic 
}

.content{
  @apply font-serif text-xl  leading-10 text-gray-700
}

blockquote {
  @apply pl-5 border-l
}

a {
  @apply font-serif leading-5 text-blue-800 border-b border-blue-600  
}

.link a{
  @apply  block text-xl inline-block pb-1
} 

.no-underline-link{
  @apply no-underline
}

p {
  @apply my-5 text-black min-h-1
} 

ol, ul{
  list-style-type: disc;
  margin: 10px;
  padding: 10px;
  @apply text-black
}